.form-comment{
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        max-width: 500px;
        .form-comment-input{
            margin-bottom: 1rem;
            input{
                width: 100%;
                padding: 0.5rem;
                border-radius: 5px;
                outline: none;
                border: 1px solid #ccc;
                &:focus{
                    outline: none;
                    border: 1px solid #ccc;
                }
            }
            textarea{
                width: 100%;
                padding: 0.5rem;
                border-radius: 5px;
                outline: none;
                border: 1px solid #ccc;
                &:focus{
                    outline: none;
                    border: 1px solid #ccc;
                }
            }
            button{
                padding: 12px 24px;
                border-radius: 5px;
                background-color: $color-article-3;
                color: #fff;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $color-article-2;
                }
            }
        }
    }
}