@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 850px;
    margin: 0 auto;
}

.color-1{
    color: $color-article-1;
}
.color-2{
    color: $color-article-2;
}
.color-3{
    color: $color-article-3;
}
.color-4{
    color: $color-article-4;
}
.color-5{
    color: $color-article-5;
}

@media screen and (max-width: 768px) {
    .content-article{
        padding: 0 1rem;
    }
}